

#tourist_container{
    display: none;
    margin-left: 10px;
    width : 100%;
}
#tourist_form
{
    display: none;
    margin-left: 10px;
}

#tourist_box
{
    display: none;
    margin-left: 10px;
}
#flight_container{
    display: none;
    margin-left: 10px;
    width : 100%;
}
#flight_form
{
    display: none;
    margin-left: 10px;
}

#flight_box
{
    display: none;
    margin-left: 10px;
}

button
{
    text-align: left;
}
td button
{
    width: 10px;

    font-size: 6px;
}
td
{
    max-width: 80px;
    white-space:pre-wrap;
    word-wrap:break-word;
}

.header {
    margin-top: 8rem;
    text-align: center;
}

#tourist_container, #tourist_form, #tourist_box, #flight_container, #flight_form, #flight_box {
    -webkit-box-shadow: 4px 4px 25px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 4px 25px -6px rgba(0,0,0,0.75);
    box-shadow: 4px 4px 25px -6px rgba(0,0,0,0.75);
    padding: 1em;
}






